.form {
  max-width: 500px;
  margin: auto;
}

.form .form-item {
  padding: 10px;
  max-width: 100%;
}

.form .form-item.button-container {
  text-align: center;
}

.form .form-item__label {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.form .form-item__label.required::after {
  position: absolute;
  top: 0;
  right: -10px;
  content: "*";
  font-size: 12px;
  color: red;
}

.form .form-item__item {
  width: 100%;
  border-radius: 4px;
}

.form .form-item__error {
  margin-top: 5px;
  font-size: 12px;
  color: #fc653c;
}

.form .form-item__item.text-input {
  border: 1px solid black;
  padding: 8px 5px;
}

.form .form-item__item.select {
  border: 1px solid black;
  padding: 8px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat calc(100% - 8px) !important; /* Better placement regardless of input width */
}

.form .form-item__inline-item {
  display: inline-flex;
  margin-right: 10px;
}

.form .form-item__inline-item--label {
  margin-left: 5px;
}

.button {
  background-color: #e94820;
  color: white;
  border: none;
  padding: 16px 80px;
  border-radius: 4px;
  transition: 0.3s background-color ease;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #fc653c;
}
